<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <title>Whyze</title>
    <script src="/javascript/resetValidation.js"></script>

</head>

<body>
    <div class="container">
        <img id="logo" src="/images/WhyzeTextLogo.svg"  />
        <form method="post" name="myform" class="reset-form">
            <div class="forms">
                <div>
                    <h2>Create a new password</h3>
                </div>
                <div class="forms-password">
                    <label id="password-label" for="password">New Password</label>
                    <input type="password" id="password" name="password" required onkeyup="handleSubmit(this)"
                        oninput="validation();" />
                    <img id="imgpassword" onclick="togglePassword()" src="/images/EyesOpen.svg" />
                </div>
                <div class="forms-confirm-password">
                    <label id="confirm-password-label" for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" onkeyup="handleSubmit(this)" name="confirm-password"
                        required />
                    <img id="imgconfirmpassword" onclick="toggleConfirmPassword()" src="/images/EyesOpen.svg" />
                </div>

                <div class="error-text">
                    <p id="error"></p>

                </div>
                <div class="check-validations-box">
                    <div class="check-validations">
                        <img id="length-message" src="/images/Check.svg" />
                        <p class="check-validations-text">
                            Between 8 and 20 characters
                        </p>
                    </div>
                    <div class="check-validations">
                        <img id="number-message" src="/images/Check.svg" />
                        <p class="check-validations-text">
                            At least one number
                        </p>
                    </div>
                    <div class="check-validations">
                        <img id="lowercase-message" src="/images/Check.svg" />
                        <p class="check-validations-text">
                            At least one lower-case letter
                        </p>
                    </div>
                    <div class="check-validations">
                        <img id="uppercase-message" src="/images/Check.svg" />
                        <p class="check-validations-text">
                            At least one upper-case letter
                        </p>
                    </div>
                </div>
                <input type="hidden" id="email" name="email" value="<%= email %>" />
            </div>

            <div class="forms-submit" onclick="handleSubmit()">
                <input id="button" type="submit" value="Reset Password" />
            </div>
        </form>
    </div>
    </div>
</body>

</html>