<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/success.css" type="text/css" />
    <title>Whyze</title>
    <script src="/javascript/resetValidation.js"></script>
</head>

<body>
    <div class="container">
        <img id="logo" src="/images/WhyzeTextLogo.svg" />
        <img id="success" src="/images/Verified.svg" />
        <div>
            <p class="text">Your password has been reset <span class="text-bold">Successfully</span></p>
        </div>
        <div class="done">
            <input id="button" type="button" onclick="closeWindow();" value="Done" />
        </div>
    </div>
    </div>
</body>

</html>