<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/verifyEmail.css" type="text/css" />
    <title>Whyze</title>
</head>

<body>
    <div class="container">
        <img id="logo" src="/images/WhyzeTextLogo.svg" />
        <div class="verified-wrapper">
            <img id="verified-logo" src="/images/Verified.svg" />
            <h1 class="email-verified-text">
                Your email
                has been verified,
                thanks!
            </h1>
            <p class="account-login-text">You can now login into your account.</p>
        </div>
    </div>
</body>

</html>