body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
    sans-serif 'DM Sans', sans-serif, 'Source Sans Pro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
