.ant-modal-content {
    overflow: auto;
    border-radius: 24px !important;
    font-family: 'DM Sans';


    h3 {
        font-size: 24px;
        font-weight: 700;
    }
}

.ant-modal-header {
    padding: 30px 24px 16px !important;
}

.ant-modal-footer {
    padding: 20px 16px !important;
    margin-bottom: 20px !important;
}